.middle-nav {

}

.middle-nav a {
    text-decoration: none;
    color: #626161;
    padding: 8px 6px;
}

.middle-nav a:hover {
    text-decoration: none;
    background-color: indianred;
    color: white;
    /*padding: 8px 6px;*/
}

.login-nav-a {
    text-decoration: none;
}

.login-nav-a:hover {
    text-decoration: none;
}